                   <!-- Small boxes (Stat box) -->
<div class="row">
    <div class="col-lg-3 col-6">
        <!-- small box -->
        <div class="small-box bg-danger">
            <div class="inner">
                <h3>150</h3>
            </div>
            <div class="icon">
                <i class="fa fa-exclamation"></i>
            </div>
            <a href="#" class="small-box-footer">Critical Tickets <i class="fas fa-arrow-circle-right"></i></a>
        </div>
    </div>

    <!-- ./col -->
    <div class="col-lg-3 col-6">
        <!-- small box -->
        <div class="small-box bg-warning">
            <div class="inner">
                <h3>44</h3>
            </div>
            <div class="icon">
                <i class="fa fa-hourglass"></i>
            </div>
            <a href="#" class="small-box-footer">Oldest Tickets <i class="fas fa-arrow-circle-right"></i></a>
        </div>
    </div>

    <!-- ./col -->
    <div class="col-lg-3 col-6">
        <!-- small box -->
        <div class="small-box bg-info">
            <div class="inner">
                <h3>53</h3>
            </div>
            <div class="icon">
                <i class="fa fa-question"></i>
            </div>
            <a href="#" class="small-box-footer">Unassigned Tickets <i class="fas fa-arrow-circle-right"></i></a>
        </div>
    </div>

    <!-- ./col -->
    <div class="col-lg-3 col-6">
        <!-- small box -->
        <div class="small-box bg-success ">
            <div class="inner">
                <h3>65</h3>

            </div>
            <div class="icon">
                <i class="fa fa-check"></i>
            </div>
            <a href="#" class="small-box-footer">Resolved Tickets <i class="fas fa-arrow-circle-right"></i></a>
        </div>
    </div>
    <!-- ./col -->
</div>
<!-- /.row -->
<!-- Main row -->
     <div class="row">
          <div class="col-2 offset-5">
<canvas id="myChart" width="100" height="100"></canvas>
              </div>
      </div>
<canvas id="myChart2" width="400" height="400"></canvas>

@if (User.IsInRole("Admin"))
{
    <div class="row">
        <div class="col">
            <div class="card">
                <div class="card-header bg-danger">
                    <h5 class="card-title">Critical Tickets</h5>

                    <div class="card-tools">
                        <button type="button" class="btn btn-tool" data-card-widget="collapse">
                            <i class="fas fa-minus"></i>
                        </button>
                        <button type="button" class="btn btn-tool" data-card-widget="remove">
                            <i class="fas fa-times"></i>
                        </button>
                    </div>
                </div>
                <!-- /.card-header -->
                <div class="card-body">
                    <div class="row" id="myTkts">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th>
                                        Created By
                                    </th>
                                    <th>
                                        Developer
                                    </th>
                                    <th>
                                        Title
                                    </th>
                                    <th>
                                        Created
                                    </th>
                                    <th>
                                        Updated
                                    </th>
                                    <th>
                                        Project
                                    </th>
                                    <th>
                                        Type
                                    </th>
                                    <th>
                                        Priority
                                    </th>
                                    <th>
                                        Status
                                    </th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>
                                        Lucy Testero
                                    </td>
                                    <td>
                                        Mariana Testero
                                    </td>
                                    <td>
                                        Need more blog posts
                                    </td>
                                    <td>
                                        Feb/19/2021 16:33:57
                                    </td>
                                    <td>
                                        Feb/25/2021 10:33:57
                                    </td>
                                    <td>
                                        Blog Project
                                    </td>
                                    <td>
                                        User Experience
                                    </td>
                                    <td>
                                        Critical
                                    </td>
                                    <td>
                                        In Progress
                                    </td>
                                    <td>
                                        <a class="btn btn-info" href="/Tickets/Details/106">Details <i class="fa fa-arrow-circle-right"></i></a>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <!-- /.row -->
                </div>
                <!-- ./card-body -->
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col">
            <div class="card">
                <div class="card-header bg-warning">
                    <h5 class="card-title">Oldest Tickets</h5>

                    <div class="card-tools">
                        <button type="button" class="btn btn-tool" data-card-widget="collapse">
                            <i class="fas fa-minus"></i>
                        </button>
                        <button type="button" class="btn btn-tool" data-card-widget="remove">
                            <i class="fas fa-times"></i>
                        </button>
                    </div>
                </div>
                <!-- /.card-header -->
                <div class="card-body">
                    <div class="row" id="myTkts">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th>
                                        Created By
                                    </th>
                                    <th>
                                        Developer
                                    </th>
                                    <th>
                                        Title
                                    </th>
                                    <th>
                                        Created
                                    </th>
                                    <th>
                                        Updated
                                    </th>
                                    <th>
                                        Project
                                    </th>
                                    <th>
                                        Type
                                    </th>
                                    <th>
                                        Priority
                                    </th>
                                    <th>
                                        Status
                                    </th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>
                                        Lucy Testero
                                    </td>
                                    <td>
                                        Mariana Testero
                                    </td>
                                    <td>
                                        Need more blog posts
                                    </td>
                                    <td>
                                        Feb/19/2021 16:33:57
                                    </td>
                                    <td>
                                        Feb/25/2021 10:33:57
                                    </td>
                                    <td>
                                        Blog Project
                                    </td>
                                    <td>
                                        User Experience
                                    </td>
                                    <td>
                                        Critical
                                    </td>
                                    <td>
                                        In Progress
                                    </td>
                                    <td>
                                        <a class="btn btn-info" href="/Tickets/Details/106">Details <i class="fa fa-arrow-circle-right"></i></a>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <!-- /.row -->
                </div>
                <!-- ./card-body -->
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col">
            <div class="card">
                <div class="card-header bg-purple">
                    <h5 class="card-title">All Tickets</h5>

                    <div class="card-tools">
                        <button type="button" class="btn btn-tool" data-card-widget="collapse">
                            <i class="fas fa-minus"></i>
                        </button>
                        <button type="button" class="btn btn-tool" data-card-widget="remove">
                            <i class="fas fa-times"></i>
                        </button>
                    </div>
                </div>
                <!-- /.card-header -->
                <div class="card-body">
                    <div class="row" id="myTkts">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th>
                                        Created By
                                    </th>
                                    <th>
                                        Developer
                                    </th>
                                    <th>
                                        Title
                                    </th>
                                    <th>
                                        Created
                                    </th>
                                    <th>
                                        Updated
                                    </th>
                                    <th>
                                        Project
                                    </th>
                                    <th>
                                        Type
                                    </th>
                                    <th>
                                        Priority
                                    </th>
                                    <th>
                                        Status
                                    </th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>
                                        Lucy Testero
                                    </td>
                                    <td>
                                        Mariana Testero
                                    </td>
                                    <td>
                                        Need more blog posts
                                    </td>
                                    <td>
                                        Feb/19/2021 16:33:57
                                    </td>
                                    <td>
                                        Feb/25/2021 10:33:57
                                    </td>
                                    <td>
                                        Blog Project
                                    </td>
                                    <td>
                                        User Experience
                                    </td>
                                    <td>
                                        Critical
                                    </td>
                                    <td>
                                        In Progress
                                    </td>
                                    <td>
                                        <a class="btn btn-info" href="/Tickets/Details/106">Details <i class="fa fa-arrow-circle-right"></i></a>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <!-- /.row -->
                </div>
                <!-- ./card-body -->
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col">
            <div class="card">
                <div class="card-header bg-success">
                    <h5 class="card-title">Resolved Tickets</h5>

                    <div class="card-tools">
                        <button type="button" class="btn btn-tool" data-card-widget="collapse">
                            <i class="fas fa-minus"></i>
                        </button>
                        <button type="button" class="btn btn-tool" data-card-widget="remove">
                            <i class="fas fa-times"></i>
                        </button>
                    </div>
                </div>
                <!-- /.card-header -->
                <div class="card-body">
                    <div class="row" id="myTkts">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th>
                                        Created By
                                    </th>
                                    <th>
                                        Developer
                                    </th>
                                    <th>
                                        Title
                                    </th>
                                    <th>
                                        Created
                                    </th>
                                    <th>
                                        Updated
                                    </th>
                                    <th>
                                        Project
                                    </th>
                                    <th>
                                        Type
                                    </th>
                                    <th>
                                        Priority
                                    </th>
                                    <th>
                                        Status
                                    </th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>
                                        Lucy Testero
                                    </td>
                                    <td>
                                        Mariana Testero
                                    </td>
                                    <td>
                                        Need more blog posts
                                    </td>
                                    <td>
                                        Feb/19/2021 16:33:57
                                    </td>
                                    <td>
                                        Feb/25/2021 10:33:57
                                    </td>
                                    <td>
                                        Blog Project
                                    </td>
                                    <td>
                                        User Experience
                                    </td>
                                    <td>
                                        Critical
                                    </td>
                                    <td>
                                        In Progress
                                    </td>
                                    <td>
                                        <a class="btn btn-success" href="/Tickets/Details/106">Details <i class="fa fa-arrow-circle-right"></i></a>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <!-- /.row -->
                </div>
                <!-- ./card-body -->
            </div>
        </div>
    </div>
}
else
{

}


@section Scripts {
    <script src="https://cdn.jsdelivr.net/npm/chart.js@2.9.4/dist/Chart.min.js"></script>
    <script>

        //Step 1 - Generate the URL that we will call to get JSON
        var Url1 = '@Url.Action("PriorityChart", "Charts")';   //represents the endpoint (controller + action) that we want to hit

        // Step 2 - start the structure for our AJAX call
        $.post(Url1).then(function (response) {
            //Get the context/canvas for the chart
            var ctx = document.getElementById('myChart').getContext('2d');

            //Use the JSON response to create the data property of the chart
            var polarChartData = {
                labels: response.labels,
                datasets: [{
                    label: 'Tickets by Priority',
                    data: response.data,
                    backgroundColor: response.backgroundColors,
                    hoverOffset: 4
                }]
            };
            var polarChart = new Chart(ctx, {
                type: 'doughnut',
                data: polarChartData
            });
        })

        var ctx = document.getElementById('myChart2').getContext('2d');
        var myChart = new Chart(ctx, {
            type: 'doughnut',
            data: {
                labels: ['Red', 'Blue', 'Yellow', 'Green', 'Purple', 'Orange'],
                datasets: [{
                    label: '# of Votes',
                    data: [12, 19, 3, 5, 2, 3],
                    backgroundColor: [
                        'rgba(255, 99, 132, 0.2)',
                        'rgba(54, 162, 235, 0.2)',
                        'rgba(255, 206, 86, 0.2)',
                        'rgba(75, 192, 192, 0.2)',
                        'rgba(153, 102, 255, 0.2)',
                        'rgba(255, 159, 64, 0.2)'
                    ],
                    borderColor: [
                        'rgba(255, 99, 132, 1)',
                        'rgba(54, 162, 235, 1)',
                        'rgba(255, 206, 86, 1)',
                        'rgba(75, 192, 192, 1)',
                        'rgba(153, 102, 255, 1)',
                        'rgba(255, 159, 64, 1)'
                    ],
                    borderWidth: 1
                }]
            },
            options: {
                scales: {
                    yAxes: [{
                        ticks: {
                            beginAtZero: true
                        }
                    }]
                }
            }
        });
    </script>
}




